.default-layout {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: var(--dark-background);
    color: var(--color-text-primary);
}

.app-content {
    flex-grow: 1;
    padding: 20px;
    max-width: var(--content-width-desktop);
    margin: 0 auto;
    width: 100%;
}